.main-details-products {
  margin: 70px 0;
  .container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    .product-detail {
      margin: 20px 0;
      padding: 40px 20px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.171);
      border-radius: $border-radius-6 + 5;
      overflow: hidden;
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      img {
        width: 400px;
        height: 460px;
        object-fit: cover;
        border-radius: $border-radius-6;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.144);
      }
      .product-detail__info {
        justify-self: start;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .product-detail__info__rate {
          i {
            color: rgb(253, 216, 54);
            font-size: 14px;
          }
          .product-detail__info__reviews {
            display: inline-block;
          }
          .product-detail__info__reviews span {
            color: rgb(120, 120, 120);
          }
          .product-detail__info__reviews span:first-child {
            cursor: pointer;
          }
        }
        .product-detail__info__title {
          @include styleText($color-gray-0, $fs-6, $fw-b, $lh-1, $font-title);
          margin: 10px 0;
        }
        .product-detail__info__price {
          @include styleText($primary-color, $fs-6, $fw-b, $lh-1, $font-title);
          margin: 10px 0;
        }
        .product-detail__info__detail {
          margin: 20px 0;
          display: grid;
          grid-template-rows: 1fr 1fr;
          grid-auto-flow: column;
          grid-gap: 10px;
          width: 70%;
          .product-detail__info__detail__title {
            font-weight: bold;
            font-size: 18px;
          }
        }
        .product-detail__button {
          width: fit-content;
          margin-top: 20px;
        }
      }
    }
    .product-detail__content {
      padding: 20px;
      &__title {
        font-size: 20px;
        font-weight: bold;
        text-align: left;
        margin: 15px !important;
      }
      &__content {
        text-align: justify;
        @include styleText($color-dark-0, $fs-7, $fw-0, $lh-2, $font-title);
      }
    }
  }
}
